<div class="chart-menu-tab-inner">
    <div class="chart-menu-icon-group">
        <!-- Camera Icon -->
        <div class="chart-menu-icon-category" id="screenshot-btn">
            <h2>Screenshot</h2>
            <div class="chart-menu-icon-btn" id="camera-icon"></div>
        </div>

        <!-- CSV Export Icon -->
        <div class="chart-menu-icon-category" id="csv-export-btn">
            <h2>Export data</h2>
            <div class="chart-menu-icon-btn" id="csv-icon"></div>
        </div>

        <!-- JSON Export -->
        <div class="chart-menu-icon-category" id="json-export-btn">
            <h2>Export file</h2>
            <div class="chart-menu-icon-btn" id="json-icon"></div>
        </div>

        <!-- Share Link -->
        <div class="chart-menu-icon-category" id="share-edit-btn">
            <h2>Edit link</h2>
            <div class="chart-menu-icon-btn" id="edit-link-icon"></div>
            <span id="share-edit-status" class="text-sm text-green-500 invisible">Copied &#10003;</span>
        </div>
    </div>
</div>
